
:root {
  font-size: 62.5%;

  --samsungBlue: #1428A0;
  --samsungDark: #1C1C1C;
  --samsungWhite: #ffffff;
  --samsungGreen: #009949;
  --samsungDirtyWhite: #F8F8F8;

  --textBlackColor: #000000;
  --textGreyColor: #767676;
  --textGreySecondColor: #555555;
  --textBlueColor: #007AFF;
}

main {
  flex: 1;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}

.appWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--samsungDirtyWhite);
  color: #000000;
}


@font-face {
  font-family: 'SamsungOne-400';
  src: local(SamsungOne-400), url("fonts/SamsungOne-400.ttf");
}
@font-face {
  font-family: 'SamsungOne-700';
  src: local(SamsungOne-700), url("fonts/SamsungOne-700.ttf");
}
@font-face {
  font-family: 'SamsungSharpSans-Bold';
  src: local(SamsungSharpSans-Bold), url("fonts/SamsungSharpSans-Bold.ttf");
}
